/.venv/
/.idea/
/.env/
/.ipynb_checkpoints/
.DS_Store
*.pyc
/hebrewASR/lightning_logs/
/hebrewASR/.neptune/
/hebrewASR/wandb/
/hebrewASR/datasets/
.env
*.mp3
/hebrewASR/uploads/*.mp3
hebrewASR/uploads/
