/.venv/
/.idea/
/.env/
/.ipynb_checkpoints/
.DS_Store
*.pyc
/hebrewASR/lightning_logs/
/hebrewASR/.neptune/
/hebrewASR/wandb/
/hebrewASR/datasets/
/hebrewASR/uploads/*.mp3
.env
*.ckpt

*.mp3

hebrewASR/uploads/
