numpy==1.26.3
tqdm
matplotlib
librosa
lightning
Jupyter
neptune
wandb
python-dotenv
datasets
jiwer
transformers
lightning-sdk
litdata
Dataset
streamlit
speechpy
lightning_cloud
hebrew
streamlit-audiorec
git+https://github.com/dariush-bahrami/character-tokenizer.git
#--extra-index-url https://download.pytorch.org/whl/cu121
#torch
#torchvision
#torchaudio